@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');

#details{
    margin-left: 250px;
    overflow: hidden;
}

#coverImage img{
    filter: brightness(80%);
    opacity: 80%;
}

#posterImage img{
    position: absolute;
    top: 220px;
    left: 600px;
    width: 200px;
    filter: drop-shadow(0 0 0.30rem #695CFE);
}

#titreAnime{
    height: 50px;
    width: 1000px;
    position: absolute;
    top: 320px;
    left: 850px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    text-align: center;
    line-height: 50px;
    font-family: 'Andada Pro', serif;
    font-size: 20px;
}

#titreAnime p{
    text-shadow: 2px 0 0 #695CFE, -2px 0 0 #695CFE, 0 2px 0 #695CFE, 0 -2px 0 #695CFE, 1px 1px #695CFE, -1px -1px 0 #695CFE, 1px -1px 0 #695CFE, -1px 1px 0 #695CFE;
    color: #F6F5FF;
}

#synopsis{
    width: 600px;
    position: absolute;
    top: 420px;
    left: 850px;
}

#information{
    position: absolute;
    top: 420px;
    left: 1500px;
    width: 300px;
    height: 500px;
    background-color: #F6F5FF;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 0 0.10rem #695CFE);
    border-radius: 5px;
}

.titreInfo{
    text-align: center;
    line-height: 50px;
    font-family: 'Andada Pro', serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.titreInfo p{
    text-align: center;
    color: #707070;
}

#information ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

#information li{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

#information li>strong{
    width: 100px;
    max-width: 35%;
}

#information li>span {
    margin-left: 20px;
    width: 150px;
    word-wrap : break-word;
    display: inline-block;
    align-items: center;
    color: #707070;
}

.buttons{
    display: flex;
    flex-direction: column;
    width: 350px;    
}

.buttons span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: auto;
    margin-top: 20px;
}

.buttons span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
}
  
span #one:before,
span #one:after{
    position: absolute;  
    content: "Favoris";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(27, 136, 51);
    box-sizing: border-box;
    border-radius: 5px;
}

span #two:before,
span #two:after{
    position: absolute;  
    content: "Retirer";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(139, 9, 9);
    box-sizing: border-box;
    border-radius: 5px;
}

span #one:before{
    color: #fff;
    background: rgb(65, 216, 98);
    transform: rotateY(0deg) translateZ(25px);
}
  
span #one:after{
    color: rgb(27, 136, 51);
    transform: rotateX(90deg) translateZ(25px);
}

span #two:before{
    color: #fff;
    background: rgb(216, 73, 54);
    transform: rotateY(0deg) translateZ(25px);
}
  
span #two:after{
    color: rgb(139, 9, 9);
    transform: rotateX(90deg) translateZ(25px);
}
  
span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
}