.content{
    margin-left: 250px;
    padding: 5%;
    padding-top: 0%;
}

#container
{
    display: flex;
    flex-wrap: wrap;
}


#PageTitle{
    color: white;
}

#PageTitle p{
    font-size: 500%;
    font-weight: bolder;
    margin-bottom: 3%;
}

.anime {
    width: 170px;
    margin: 2%;
    background: #811608;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-size: 90%;
}


.anime_title p{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.image_title:hover{
    color: black;
}

.anime_image{
    overflow: hidden;
}
.anime_image img{
    width: 100%;
}

#searchbar{
    border-radius: 20px;
    background-color: #12192C;
    color: #FFFFFF;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border: 2px solid #811608;
    margin-left: 22%;
    margin-bottom: 8%;
}

#searchbar:focus{
    outline: none;
}


.anime:hover {
    transform: scale(1.10);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.anime_title:hover + .anime {
    background-color: black;
}